body{
  background-color: rgb(225,225,225);
}

canvas {
  display: block;
  margin: 0 auto;
}

#canvasContainer {
  position: absolute;
  width: 100%;
  //z-index: -1;
}
/*
#FirstDoor{
  display: table-cell; /*主要是这个属性
  vertical-align: middle;
  text-align:center;
  width:70%;
}
.FirstDoor{
  text-align:center;
}*/
